* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.imagen {
  padding: 0.2in;
  width: 30%;
  height: 50%;
}

.centrar {
  padding: 10px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: blueviolet;
}
