/*paleta de colores
#FFD700
#005BBB
#EF3340
#3BA935
#6A3E2E
#B28FCE
#000000
#FFFFFF
*/
*{
    margin: 0;
    padding: 0;
    /*Acomoda el tamaño de la cja segun el ancho y alto preestablecido*/
    box-sizing: border-box;
}
html{
    font-family: "Hind Mysuru", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #FFFFFF;
}
.marquesina{
    width: 100%;
    background-color: #6A3E2E;
    color: #FFFFFF;
    height: 40px;
    display: flex;
    align-items: center;
    .mensajes{
        display: flex;
        animation: desplazar 40s linear infinite;
    }
    .mensaje{
        flex: none;
        padding: 0 24%;
        white-space: nowrap;
        color: #FFFFFF;
        font-size: 1em;
        font-weight: 600;
    }
}
@keyframes desplazar{
    0%{
        transform: translateX(100%);
    }
    10%{
        transform: translateX(60%);
    }
    20%{
        transform: translateX(20%);
    }
    30%{
        transform: translateX(-20%);
    }
    40%{
        transform: translateX(-60%);
    }
    50%{
        transform: translateX(-100%);
    }
    60%{
        transform: translateX(-60%);
    }
    70%{
        transform: translateX(-140%);
    }
    80%{
        transform: translateX(-180%);
    }
}
.pre-container{
    width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #005BBB;
  padding: 0.7%;
  .telphones > b {
    font-size: 1.0rem;
    color: #FFFFFF;
  }
  .social_net_black {
    display: flex;
    list-style: none;
    margin-right: 20px;
    li {
      margin: 0 20px;
    }
  }
}
.nets_black{
    width: 24px;
}
.header-principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.3% 2%;
    background-color: #FFFFFF;
    border-bottom: 4px solid #EF3340;
    background-color:#FFD700 ;
}
.logo-container{
    flex: 1; /*ocupa el espacio minimo a la izquerda*/
    .logo{
        width: 42%;
        margin: 0 auto;
        border-radius: 60%;
    }
}
.menu{
    flex: 2;/*ocupa mas espacio hacia el centro*/
}
.menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}
.menu ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}
.menu ul li a:hover{
    color: #EF3340;
    border-bottom: 2px solid #EF3340;
}
.enter-container{
    flex: 1; /* ocupa espacio mínimo a la derecha */
  display: flex;
  justify-content: flex-end;
 
  .ingreso{
    font-size: 40px;
    margin-right: 5%;
    color: #EF3340;
    padding: 4%;
     
    strong{
      font-size: 18px;
      font-family: "Hind Mysuru", sans-serif;
      color: #000000;
      padding-left: 10px;
    }
  }
}
.hero{
    position: relative;
    background-image: linear-gradient(20deg,
      rgba(235, 222, 226, 0.54) 20%,
      rgba(241, 133, 149, 0.47) 40%,
      rgba(75, 73, 73, 0.34) 100%), url(../img/principal/pexels-juan-tapias.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      color: #FFFFFF;
      text-align: left;
      padding: 200px 40px;
      overflow: hidden;/*importante para ocultar el elemento*/
}